.header {
    background-color: black;
    color: white;
    text-align: center;
    height: auto;
    padding: 15px;
}

.title {
    font-size: 24px;
    font-weight: bolder;
}

.card-header {
    justify-content: space-between;
}

.card-header h6 {
    display: inline;
    padding-right: 100px;
}

.alert {
    margin-left: 25px;
}

.history-item {
    border-style: solid;
    border-width: thin;
    margin-bottom: 3px;
    border-radius: 10px;
    border-color: lightslategray;
    background-color: lightgray;
}

.history-item h4 {
    padding-left: 10px;
}

.form-input {
    border-color: lightslategray;
    border-style: solid;
    border-width: thin;

}
.form-input:focus {
    outline: none
}

.card-header {
    background-color: rgb(74, 180, 237);
}

.forecast-card {
    font-size: small;

    background-color: #FA8BFF;
  background-image: linear-gradient(180deg, #2BD2FF 52%, #2BFF88 90%);
  transition-property: all;
  /* transition: all 5s ease-out; */
  transition-duration: 2s;
  background-size: contain;
background-repeat: no-repeat;
  
}

.forecast-card:hover {
    font-size: large;
    background-color: #FA8BFF;
  background-image: linear-gradient(180deg, #FA8BFF 52%, #2BD2FF 90%);
  /* transition: all 2s ease-in-out; */
  /* transition-duration: 3s; */
  /* transition-property: all; */
  background-size: contain;
background-repeat: no-repeat;
}

#forecast-container {
    display: none;
}

#current-stats {
    display: none;
}